@font-face {
	font-family: lemon-wide;
	// src: url("/src/fonts/Lemon-Wide.ttf");
	src: url("/fonts/Lemon-Wide.ttf");
}
@font-face {
	font-family: lemon;
	// src: url("/src/fonts/Lemon-Regular.ttf");
	src: url("/fonts/Lemon-Regular.ttf");
}

@font-face {
	font-family: doner;
	// src: url("/src/fonts//Doner-RegularDisplay.otf");
	src: url("/fonts/Doner-RegularDisplay.otf");
}
