@use "./font-face";

$screen-medium: 768px;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$color-blue: #459db0;
$color-black: #242424;
$color-moss: #bacabb;
$color-white: #d7dce1;

:root {
	font-family: doner, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: $color-moss;
	background-color: $color-black;
	font-size: calc(20px + 6 * ((100vw - 320px) / 680));

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 2px;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

*::selection {
	color: $color-black;
	background: $color-blue;
}

h1,
h2,
h3 {
	letter-spacing: 4px;
	line-height: normal;
	font-weight: 400;

	color: $color-moss;
}

h1 {
	text-transform: uppercase;
	font-family: lemon-wide;
	font-size: clamp(4.625rem, 20vw + 1rem, 17.5rem);
}

h1.alt,
%h1-alt {
	text-transform: uppercase;
	font-family: lemon-wide;
	font-size: clamp(2.625rem, 12vw + 1rem, 12.5rem);
	letter-spacing: 4px;
	line-height: normal;
	font-weight: 400;

	color: $color-moss;
}

h2 {
	font-family: lemon;
	margin-block-end: 20px;
}

.link-wrapper {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
}

a {
	color: #459db0;
	text-decoration: none;
	transition: all 0.1s ease;
	pointer-events: all;

	&:hover {
		background: #459db0;
		color: #242424;
	}
}

canvas {
	height: 100vh;
}

.iframe-wrapper {
	box-shadow: 0 0 0 2px inset $color-moss;
	width: 100%;
	height: 100%;
	min-height: 70vh;
	max-width: 2000px;
	margin-block-start: 1rem;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	& > * {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
}

iframe {
	width: 100%;
	height: 100%;

	z-index: 1;
	pointer-events: all;
}

.controlKeys {
	position: absolute;
	width: 20rem;
	left: 50%;
	margin-left: -10rem;
	bottom: 13%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media (max-width: 768px) {
	.controlKeys {
		display: none;
	}
	.title {
		display: none;
	}
}

@media (max-height: 450px) {
	.controlKeys {
		display: none;
	}
	.title {
		display: none;
	}
}

.title-container {
	z-index: 3;
}

.overlay {
	position: fixed;
	background: $color-black;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1;
}

%fixed-content {
	padding-block: 2rem;
	padding-inline: 0.5rem;
	position: absolute;
	text-wrap: balance;

	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	overflow: auto;

	@media (min-width: $screen-medium) {
		padding-inline: 1rem;
	}
}

.intro {
	@extend %fixed-content;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: clamp(4.625rem, 14vw + 1rem, 17.5rem) 1fr;
	text-align: center;
	justify-items: center;

	.hero-title {
		grid-row: 1/2;

		&.background {
			background: $color-black;
		}
		&.clickable {
			cursor: pointer;
			pointer-events: all;
		}
	}

	&__content {
		grid-row: 2/ 3;
		pointer-events: auto;

		&__container {
			position: relative;
			z-index: 2;
		}
	}

	p {
		max-width: 1000px;
	}
	p + p {
		font-size: 0.6rem;
		margin-block-start: 0.8rem;
	}
}

.menu {
	@extend %fixed-content;

	display: grid;
	grid-template-rows: 5vw 1fr;

	&__close-btn {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		border: 3px solid $color-moss;
		background: transparent;
		border-radius: 5px;
		color: $color-moss;
		padding: 16px;
		font-weight: 600;
		font-size: 0.6rem;
		cursor: pointer;
		transition: all 0.2s;

		&:hover,
		&:focus-visible {
			color: $color-black;
			background: $color-moss;
		}
	}
	&__content {
		grid-row: 2/3;
	}
}
button {
	pointer-events: all;
}
.button,
%button {
	outline: none;
	position: relative;
	border: 3px solid $color-white;
	border-radius: 5px;
	color: $color-black;
	padding: 8px 16px;
	background: transparent;
	font-size: 0.6rem;
	font-weight: 500;
	cursor: pointer;
	height: 50px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;

	.message {
		&--default,
		&--loading {
			grid-column: 1 / 2;
			grid-row: 1/2;
			transition: 0.14s opacity ease, 0.15s color ease;
		}

		&--default {
			opacity: 0;
		}
		&--loading {
			font-size: 0.7em;
		}
	}
	&.loaded {
		.message--default {
			opacity: 1;
		}
		.message--loading {
			opacity: 0;
		}
	}

	.loading {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
		background: $color-white;
		z-index: -1;
		transition: background-color 0.15s ease;
	}
	&:disabled {
		cursor: wait;
	}
	&:not(:disabled) {
		&:hover,
		&:focus-visible {
			.loading {
				background-color: $color-black;
			}
			.message--default {
				color: $color-white;
			}
		}
	}
	&--alt {
		@extend %button;
		background: transparent;
		color: $color-white;
		border: 3px solid transparent;
		padding-inline: 0;
		opacity: 0;
		transition: opacity 0.2s ease;
		transition-property: opacity;
		transition-delay: 1s;
		font-size: 0.7em;
		width: fit-content;

		&.loaded {
			opacity: 1;
		}
		&::after {
			box-shadow: none;
			background: transparent;
		}

		&:hover,
		&:focus-visible {
			border-bottom: 3px solid $color-white;
			color: $color-white;
			background-color: transparent;
		}
	}
}

.button-container {
	margin-block-start: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 0.5rem;
	justify-items: center;
}

@keyframes l7 {
	33% {
		inset: -10px;
		transform: rotate(0deg);
	}
	66% {
		inset: -10px;
		transform: rotate(90deg);
	}
	100% {
		inset: 0;
		transform: rotate(90deg);
	}
}
.loader {
	width: 40px;
	margin-inline: auto;
	aspect-ratio: 1;
	color: $color-moss;
	position: relative;
	top: 50px;
	background: conic-gradient(from 134deg at top, currentColor 92deg, #0000 0) top, conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
	background-size: 100% 50%;
	background-repeat: no-repeat;
}
.loader:before {
	content: "";
	position: absolute;
	inset: 0;
	--g: currentColor 14.5px, #0000 0 calc(100% - 14.5px), currentColor 0;
	background: linear-gradient(45deg, var(--g)), linear-gradient(-45deg, var(--g));
	animation: l7 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
